doctype html
html
    head(lang="ko")
        include ./inc/head.pug
    body
        div.container
            div.jumbotron.py-2
                h2=title
                    small 게시판 리스트
            .write-wrap
                table.table.table-bordered
                    tbody
                        tr
                            td 작성자
                            td 
                                input.form-control(type="text" name="writer")


